label {
  display: block !important;
}
/* menu */
.navbar {
  padding: 0 !important;
}
#main-menu {
  background: #023b6d;
}
#main-menu li a {
  background: #023b6d;
  font-weight: 400;
  font-size: 16px;
}
.views-exposed-form {
  display: flex;
  gap: 10px;
}
#views-exposed-form-trang-nha-page-1 {
  gap: 30px;
}

.template-card {
  transition: 0.3s ease-in-out;
  height: 100%;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  border: 1px solid #eee;
}

.content_layout a {
  color: #343a40 !important;
  text-decoration: none;
}
.content_layout a:hover {
  text-decoration: underline;
}

.page-item {
  margin-right: 10px;
}
.page-link {
  border: 1px solid #ddd;
  border-radius: 15px !important;
}
