<div class="col-12 col-lg-6 col-xl-12 mt-3">
  <div class="template-card d-xl-flex">
    <img src={{fields.field_thumbnail_image.content}} class="img-fluid" alt=""  width="220px">
    <div class="details ms-4">
      <h2 class="title">{{fields.title.content}}</h2>
      <p class="text-muted mt-2">{{fields.body.content}}
    </div>
  </div>
</div>
